* {
	box-sizing: border-box;
}

.App {
  text-align: center;
  padding: 3rem;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hex{
	grid-column-end: span 2;
	width: 40px;
	height: 71px;
	/* background-color: #282c34; */
	background-color: red;
	position: relative;
	display: inline-block;
	transform: rotate(90deg);
	margin-right: 34px
}

.hex:before, .hex:after {
	position: absolute;
	width: inherit; height: inherit;
	border-radius: inherit;
	background: inherit;
	content: '';
}

.hex:before {
	transform: rotate(60deg);
	right: 0;
  }

  .hex:after {
	transform: rotate(-60deg);
	right: 0;
  }

  .hex:hover {
	background: #F58787;
	cursor: pointer;
  }

  .board {
	  display: grid;
	  grid-template-columns: repeat(12, 37px);
	  grid-template-rows: repeat(3, 64px);
  }